.btn-purple{
  background-color: #c060a1;
  padding:15px 20px;
  border-radius:4px;
  padding: 15px 20px;
  color: white;
  font-weight: bold;
  font-family: 'Roboto',sans serif;
}
.btn-purple:hover{
  background-color: pink;
  color: white;
}
.btn-black{
  background-color: black;
  padding:5px 10px;
  border-radius:4px;
  padding: 5px 10px;
  color: white;
  font-weight: bold;
  font-family: 'Roboto',sans serif;
}
.btn-black:hover{
  background-color:#838383 ;
  color: black;
}


